<?xml version="1.0"?>

<config>
    <modules>
        <Ktree_Zoom>
            <version>0.1.0</version>
        </Ktree_Zoom>
    </modules>
    <global>
        <helpers>
            <zoom>
                <class>Ktree_Zoom_Helper</class>
            </zoom>
        </helpers>
		<models>		
			<zoom>
				<class>Ktree_Zoom_Model</class>
			</zoom>  		
		</models>
        <resources>
            <zoom_setup>
                <setup>
                    <module>Ktree_Zoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zoom_setup>
            <zoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zoom_write>
            <zoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zoom_read>
        </resources>
    </global>
	<default>
        <zoom>
            <general>
                <defaulzoom>1</defaulzoom>
				<magnifierpos>right</magnifierpos>
            </general>
			<zoomrange>
                <start>3</start>
				<end>10</end>
            </zoomrange>
			<magnifiersize>
                <height>400</height>
				<width>400</width>
            </magnifiersize>
        </zoom>
		
    </default>
    <frontend>
        <layout>
            <updates>
                <zoom>
                    <file>zoom.xml</file>
                </zoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <zoom>
                                            <title>Gestione Liste</title>
                                        </zoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
